<div class="header">
    <h1>Cukiernia</h1>
</div>
<div class="nav">
  <ul>
    <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Strona główna</a></li>
    <li><a class="<%= path === '/add-creams' ? 'active' : '' %>" href="/add-creams">Lody</a>

</ul>
</div>