<%- include('partials/header') %>
<body>
    
  <%- include('partials/nav') %>
<div class="main">  
    
  <form class="fomrularz" action="/cookie" method="POST">
    <div class="formc">
        <label for="imie">nazwa</label>
        <input type="text" name="nazwa" id="nazwa" >
    </div>
   <button class="buttonx" type="submit">akceptuj </button>
</form>

</div>
<%- include('partials/footer') %>
</body>
</html>