<!DOCTYPE html>
<html lang="pl-Pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editing</title>
    <link rel="stylesheet" href="/css/Page.css">
</head>
<body>
    <div class="header">
        <h1>Cukiernia</h1>
  </div>
  <div class="nav">
      <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="/add-creams">Lody</a></li>
     </ul>
  </div>
<div class="main">  
    <form action="/add-creams" method="POST"><input type="text" name="nazwa"><button type="submit">Dodaj smak</button></form>
</div>
<div class="footer">
        <p>Stopka</p>
      </div>
</body>
</html>