<%- include('partials/header') %>
<body>
    
  <%- include('partials/nav') %>
<div class="main">  
    <form action="/add-creams" method="POST">
        <input type="text" name="smak" id="nazwa">
        <button type="submit">Dodaj smak</button>
        
        <input type="text" name="smak" id="nazwa">
        <button type="submit">Dodaj smak</button>
        
        <input type="text" name="smak" id="nazwa">
        <button type="submit">Dodaj smak</button>
       
        <input type="text" name="smak" id="nazwa">
        <button type="submit">Dodaj smak</button>
    </form>
</div>
<%- include('partials/footer') %>
</body>
</html>